# Text Sentiment Analysis
In this notebook I look at customer reviews for the top banks in Kenya. Is it enough to use social media comments to make an informed decision a given bank?
I will be using data from Twitter in this analysis

In [113]:
# Get Access tokens
%reload_ext dotenv
%dotenv

import os
import tweepy
from tweepy import OAuthHandler
import pandas as pd
import numpy as np
import jsonpickle

# get access
# keys are stored in a '.env' file
consumer_key = os.getenv('CONSUMER_KEY')
consumer_secret= os.getenv('CONSUMER_SECRET')
access_token =  os.getenv('ACCESS_TOKEN')
access_secret =  os.getenv('ACCESS_SECRET')

# authorize access
oath = OAuthHandler(consumer_key,consumer_secret)
oath.set_access_token(access_token,access_secret)

#create api
twitter_api = tweepy.API(oath)

In [105]:
# examine top 10 tweets on timeline
for tweet in tweepy.Cursor(twitter_api.home_timeline).items(10):
    print(tweet.text)

pandas is a data wrangling platform for #Python widely adopted in the scientific computing community. #pandas proviâ€¦ https://t.co/gLZT0aosPi
The coronavirus pandemic is dramatically changing the way Americans eat https://t.co/V42RfU8qLz
Burger King says its restaurants are awful (so use a delivery app) https://t.co/Jb04qDFeI2
A shooting in Washington, D.C., early on Sunday morning left at least one person dead and 20 people wounded, the auâ€¦ https://t.co/vjZ7fuhwx9
Sri Lankaâ€™s government is looking ever more like a family business https://t.co/SXjnMH4tt4
With just a few clicks, you can send all those photos and videos youâ€™ve posted on Facebook to Google Photos.â€‹ https://t.co/KRKvancO1i
RT @watson_makau: @wezlie22000 @MigunaMiguna @makaumutua A country's entire security and intelligence apparatus can't be terrified of a papâ€¦
Warigi: Leadersâ€™ greed amid economic downturn would test the patience of the Good Lord https://t.co/399eHXPhbO
A threat to water supplies across Asia.

ðŸ“• Read more: https://t.co/OWV8jDbkTA https://t.co/1LMAKlnHYM
In Raila, a treasure trove of faith and eternal optimism https://t.co/O3KKNUa9jv https://t.co/NwjAr9Gqhq

In [92]:
fName = "tweets.txt"
fName1 = "tweets1.txt"
simplified_result = twitter_api.search(q="Equity Bank",since=start_date)
with open(fName1,'w') as f:
    for tweet in simplified_result:
        f.write(jsonpickle.encode(tweet._json,unpicklable=False)+"Equity Bank"+
                '\n')
    f.close()

In [37]:
len(simplified_result)

15

In [106]:

# define file to save tweets
filename = "tweets.txt"

# create list of top banks
banks_list = ["KCB Bank","Equity Bank","Cooperative Bank","Family Bank",
              "DTB Bank","Barclays Bank","Standard Chartered Bank","National Bank","NCBA Bank"]
# search_text  = ['bank in kenya']

# define start date
start_date = "2020-01-01"

# counter for search results
total_results = 0

# extract data for the selected banks
def search_and_extract_data_from_bank_tweets(search_list):
    """
    Takes a list of banks to query
    """
    # create tweets dict
#     tweets_dict = {'location':[],'bank_name':[],'date':[],'user':[],'text':[]}
    
    total_results = 0
    
    # open a file to write data
    with open(filename,'w') as f:
        
        # search tweet for banks in the list
        for i in search_list:
            search_result = tweepy.Cursor(twitter_api.search,q=i,since=start_date).items()
        
            # add the results to a json object
            for tweet in search_result:
                f.write(jsonpickle.encode(tweet._json,unpicklable=False)+
                        '\n')
                total_results+=1
                
        f.close()

# apply
search_and_extract_data_from_bank_tweets(banks_list)
# print(total_results)

TweepError: Twitter error response: status code = 429

##### Note
Running above code we get a timeout error
We need to optimize the search function so that we get as many tweets as possible

In [178]:
# read data from saved file
import json
json_data = []
with open(filename,'r') as f:
    for line in f:
        json_data.append(json.loads(line))
        
    f.close()

# convert json file to dataframe
bank_comments_df = pd.DataFrame(json_data)
bank_comments_df.head()

,created_at,id,id_str,text,truncated,entities,metadata,source,in_reply_to_status_id,in_reply_to_status_id_str,...,favorite_count,favorited,retweeted,possibly_sensitive,lang,extended_entities,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status
0,Sun Aug 09 13:48:45 +0000 2020,1292457794990411777,1292457794990411777,Job Opportunity at KCB Bank Tanzania Limited -...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""https://www.drmasawe.info"" rel=""nofol...",NaN,None,...,1,False,False,False,en,NaN,NaN,NaN,NaN,NaN
1,Sun Aug 09 13:46:33 +0000 2020,1292457240813686785,1292457240813686785,Job Opportunity at KCB Bank Tanzania Limited -...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""https://dlvrit.com/"" rel=""nofollow"">d...",NaN,None,...,0,False,False,False,en,"{'media': [{'id': 1292457239312097287, 'id_str...",NaN,NaN,NaN,NaN
2,Sun Aug 09 13:41:10 +0000 2020,1292455887139938304,1292455887139938304,Job Opportunity at KCB Bank Tanzania Limited â€“...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""http://publicize.wp.com/"" rel=""nofoll...",NaN,None,...,0,False,False,False,en,NaN,NaN,NaN,NaN,NaN
3,Sun Aug 09 13:38:33 +0000 2020,1292455227614875662,1292455227614875662,Job Opportunity at KCB Bank Tanzania Limited -...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""https://dlvrit.com/"" rel=""nofollow"">d...",NaN,None,...,0,False,False,False,en,"{'media': [{'id': 1292455226067185664, 'id_str...",NaN,NaN,NaN,NaN
4,Sun Aug 09 10:11:28 +0000 2020,1292403112393809921,1292403112393809921,New Job Vacancy at KCB Bank Tanzania Limited â€“...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""http://publicize.wp.com/"" rel=""nofoll...",NaN,None,...,0,False,False,False,en,NaN,NaN,NaN,NaN,NaN

In [179]:
# add bank names column
bank_comments_df['bank_name'] = np.where(bank_comments_df['text'].str.contains('Equity Bank',case=False),"Equity Bank",'')
bank_comments_df['bank_name'] = np.where(bank_comments_df['text'].str.contains('KCB',case=False),"KCB Bank",bank_comments_df['bank_name'])
bank_comments_df['bank_name'] = np.where(bank_comments_df['text'].str.contains('Cooperative Bank',case=False),"Cooperative Bank",bank_comments_df['bank_name'])
bank_comments_df['bank_name'] = np.where(bank_comments_df['text'].str.contains('Family Bank',case=False),"Family Bank",bank_comments_df['bank_name'])
bank_comments_df['bank_name'] = np.where(bank_comments_df['text'].str.contains('DTB Bank',case=False),"DTB Bank",bank_comments_df['bank_name'])
bank_comments_df['bank_name'] = np.where(bank_comments_df['text'].str.contains('Barclays Bank',case=False),"Barclays Bank",bank_comments_df['bank_name'])
bank_comments_df['bank_name'] = np.where(bank_comments_df['text'].str.contains('Standard Chartered Bank',case=False),"Standard Chartered",bank_comments_df['bank_name'])
bank_comments_df['bank_name'] = np.where(bank_comments_df['text'].str.contains('NCBA Bank',case=False),"NCBA Bank",bank_comments_df['bank_name'])
bank_comments_df['bank_name'] = np.where(bank_comments_df['text'].str.contains('National Bank',case=False),"National Bank",bank_comments_df['bank_name'])

In [291]:
# summarize twitter comments by bank
bank_comments_df.groupby('bank_name')['id'].count().reset_index()

            bank_name    id
0                      1878
1       Barclays Bank     1
2    Cooperative Bank    28
3         Equity Bank   492
4            KCB Bank   219
5       National Bank     2
6  Standard Chartered     2

- Equity bank has the highest number of tweets followed by KCB Bank
- We have a lot of comments that are not tied to any of out top banks
- We should also optimize the search criteria to weed out some of these tweets

In [292]:
# Let's take a look at Equity bank
equity_bank_comment_df = bank_comments_df[bank_comments_df['bank_name']=='Equity Bank']
equity_bank_comments = [x for x in equity_bank_comment_df['text'].unique()]

In [358]:
# Using spacy we can tokenize tweet comments
import spacy
from spacy.lang.en import English
import re

# get stop words
stop_words = spacy.lang.en.stop_words.STOP_WORDS
spacy_nlp = English()

# remove usernames & links from tweets
username_pattern = re.compile('^@[A-Za-z0-9_]{1,15}$')
url_pattern = re.compile(r'^https?:\/\/.*[\r\n]*')

# create tokens dictionary
results = []
for i in equity_bank_comments:
    sentence_token = spacy_nlp(i)
    token_result = []
    for token in sentence_token:

        # check if token is stop word
        if token.is_stop == False:
            token_result.append(token)

    results.append(token_result)

# clean results
# remove usernames
cleaned_results = []
for x in results:
    for i in x:
        if (username_pattern.match(i.text) or url_pattern.match(i.text)):  
            pass
        else:
            cleaned_results.append(str.lower(i.text))
print(cleaned_results[100:180])

['history', 'reminds', 'm', 'â€¦', 'rt', ':', 'thank', 'visiting', 'mama', 'lucy', 'equity', 'bank', 'team', '.', '\n\n', 'greatly', 'appreciate', 'support', 'ppes', 'hospital', 'â€¦', 'finance', 'master', ',', 'ceo', 'equity', 'bank', ',', 'championed', 'wings', 'fly', ',', 'james', 'man', '!', '!', 'equity', 'bank', ',', 'navigating', 'tough', 'tech', 'terrain', ',', 'innovating', 'customers', ' ', 'rt', ':', 'equity', 'bank', 'retain', 'pro', '-', 'people', 'focus', '?', 'stand', 'ordinary', 'people', 'built', '?', 'billion', 'dolla', 'â€¦', 'hi', 'jimmyn', ',', 'contact', 'equity', 'bank', '0202262000', '(', 'chargeable', ')', 'assistance', '.', '^ri', 'rt', '_']

In [363]:
# # lemmatize results
# for word in cleaned_results[210:220]:
#     print(word,word.lemma_)

In [365]:
# create word frequency
from string import punctuation
# add some words to punctuation
punctuation = punctuation + '\n'+'â€¦'+'\n\n'+'RT'+' '+'..'+'...'
word_frequencies = {}
for word in cleaned_results:
    if word not in punctuation:
        if word not in word_frequencies.keys():
            word_frequencies[word] = 1
        else:
            word_frequencies[word]+=1

#  â€¦	          
word_freq_df = pd.DataFrame(word_frequencies.items(),columns = ['word','freq'])
word_freq_df = word_freq_df.sort_values(by='freq',ascending=False).reset_index(drop=True)
word_freq_df[0:20]

                word  freq
0               bank   278
1             equity   255
2                 rt    67
3             mwangi    43
4              james    42
5                ceo    31
6                 dr    31
7              banks    18
8              kenya    16
9               best    16
10  thepeoplesbanker    16
11         customers    13
12         financial    13
13             mpesa    12
14              like    10
15           account    10
16            people     9
17        foundation     8
18               pay     8
19                 m     8

### Looking at the word frequency, we do not see any major outliers

In [313]:
# create sentence tokenizer
sbd = spacy_nlp.create_pipe('sentencizer')

# add to pipeline
spacy_nlp.add_pipe(sbd)

# create spacy doc
sentence_list = []
for tweet in equity_bank_comments:
    tweet_doc = spacy_nlp(tweet)
    for sentence in tweet_doc.sents:
        sentence_list.append(sentence)
    
# print sentence list
print(sentence_list[16:20])

[

We greatly appreciate the support with PPEs to the hospitalâ€¦, The finance master, CEO equity Bank, championed wings to Fly, James a man!!, https://t.co/OZh0CMsH0e, Equity Bank, Navigating Tough Tech Terrain, Innovating for Customers  https://t.co/s49008J4UR]