# Text Sentiment Analysis
In this notebook I look at customer reviews for the top banks in Kenya. Is it enough to use social media comments to make an informed decision a given bank?
I will be using data from Twitter in this analysis

In [35]:
# Get Access tokens
%reload_ext dotenv
%dotenv

import os
import tweepy
from tweepy import OAuthHandler
import pandas as pd
import jsonpickle
# get access
# keys are stored in a '.env' file
consumer_key = os.getenv('CONSUMER_KEY')
consumer_secret= os.getenv('CONSUMER_SECRET')
access_token =  os.getenv('ACCESS_TOKEN')
access_secret =  os.getenv('ACCESS_SECRET')

# authorize access
oath = OAuthHandler(consumer_key,consumer_secret)
oath.set_access_token(access_token,access_secret)

#create api
twitter_api = tweepy.API(oath)

In [2]:
# examine top 10 tweets on timeline
for tweet in tweepy.Cursor(twitter_api.home_timeline).items(10):
    print(tweet.text)

Lagos Directs JSS 3 Students to Resume Monday @PremiumTimesng: https://t.co/U1NOquBlaz #Nigeria #Education #NEC… https://t.co/uts4CJNicm
Up next:

A sponsored talk/workshop from our Gold sponsor @Ableton

#PyConAfrica20 #Python https://t.co/ZSO3LN55tY
Up next:

A sponsored talk/workshop from our Gold sponsor @Vonage

#PyConAfrica20 #Python https://t.co/RsB2qjRk0g
Children who begin to wonder about their sexuality or gender can quickly educate themselves—and each other—on their… https://t.co/zVYufVzTFc
Weston has maintained that it was an innocent purchaser and the case was filed with ulterior motives, especially af… https://t.co/7YJLn4LZCA
Global threats are reordering supply chains, says report https://t.co/on6eZeipOS
Democrats call for inquiry into Postal Service changes ahead of US election https://t.co/h3Xzhf7Qmd
13:48 Streets lights on Outer Ring road are on even during the day. Sometimes at night, they go off. @KURAroads ple… https://t.co/fcinInla3N
This bot will make you a ping pong master. https://t.co/FqyPbowN7d
Build your your space with adult LEGO https://t.co/Xf8N3a0BMR

In [92]:
fName = "tweets.txt"
fName1 = "tweets1.txt"
simplified_result = twitter_api.search(q="Equity Bank",since=start_date)
with open(fName1,'w') as f:
    for tweet in simplified_result:
        f.write(jsonpickle.encode(tweet._json,unpicklable=False)+"Equity Bank"+
                '\n')
    f.close()

In [37]:
len(simplified_result)

15

In [96]:

# define file to save tweets
filename = "tweets.txt"

# create list of top banks
banks_list = ["KCB Bank","Equity Bank","Cooperative Bank","Family Bank",
              "DTB Bank","Barclays Bank","Standard Chartered Bank","National Bank","NCBA Bank"]
# search_text  = ['bank in kenya']

# define start date
start_date = "2020-01-01"

# counter for search results
total_results = 0

# extract data for the selected banks
def search_and_extract_data_from_bank_tweets(search_list):
    """
    Takes a list of banks to query
    """
    # create tweets dict
#     tweets_dict = {'location':[],'bank_name':[],'date':[],'user':[],'text':[]}
    
    total_results = 0
    
    # open a file to write data
    with open(filename,'w') as f:
        
        # search tweet for banks in the list
        for i in search_list:
            search_result = tweepy.Cursor(twitter_api.search,q=i,since=start_date).items()
        
            # add the results to a json object
            for tweet in search_result:
                f.write(jsonpickle.encode(tweet._json,unpicklable=False)+
                        '\n')
                total_results+=1
                
        f.close()

# apply
search_and_extract_data_from_bank_tweets(banks_list)
# print(total_results)

TweepError: Twitter error response: status code = 429

In [97]:
# read data from saved file
import json
json_data = []
with open(filename,'r') as f:
    for line in f:
        json_data.append(json.loads(line))
        
    f.close()

# convert json file to dataframe
bank_comments_df = pd.DataFrame(json_data)
bank_comments_df.head()

,created_at,id,id_str,text,truncated,entities,metadata,source,in_reply_to_status_id,in_reply_to_status_id_str,...,retweet_count,favorite_count,favorited,retweeted,lang,possibly_sensitive,extended_entities,quoted_status_id,quoted_status_id_str,quoted_status
0,Sat Aug 08 15:56:23 +0000 2020,1292127526882615298,1292127526882615298,RT @josephgithuku: @KCBGroup this is very funn...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""https://mobile.twitter.com"" rel=""nofo...",NaN,None,...,1,0,False,False,en,NaN,NaN,NaN,NaN,NaN
1,Sat Aug 08 15:48:39 +0000 2020,1292125578607366146,1292125578607366146,@KCBGroup this is very funny bank two months d...,True,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""https://mobile.twitter.com"" rel=""nofo...",NaN,None,...,1,0,False,False,en,NaN,NaN,NaN,NaN,NaN
2,Sat Aug 08 11:15:02 +0000 2020,1292056722899701761,1292056722899701761,nikawahi appointiwa board wa kcb musiwahi leta...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'tl', 'result_type': 're...","<a href=""https://mobile.twitter.com"" rel=""nofo...",1.292056e+18,1292056310188515328,...,0,4,False,False,tl,NaN,NaN,NaN,NaN,NaN
3,Sat Aug 08 09:55:19 +0000 2020,1292036660864126982,1292036660864126982,KCB worst bank ever!,False,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""http://twitter.com/download/iphone"" r...",NaN,None,...,0,0,False,False,en,NaN,NaN,NaN,NaN,NaN
4,Sat Aug 08 09:17:54 +0000 2020,1292027243519238144,1292027243519238144,Any bankers in here?\n\nI need your help.\n\nH...,True,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""http://twitter.com/download/android"" ...",NaN,None,...,0,4,False,False,en,NaN,NaN,NaN,NaN,NaN

In [101]:
# bank_comments_df['text']
# # bank_comments[1:10]
# # bank_comments
# bank_comments_df = pd.DataFrame(data)
# # bank_comments_df = pd.read_fwf("tweets.txt")
# bank_comments_df.head()

In [102]:
# bank_comments_df['text'][16004].lower()

In [58]:
bank_comments_df.columns

Index(['created_at', 'id', 'id_str', 'text', 'truncated', 'entities',
       'metadata', 'source', 'in_reply_to_status_id',
       'in_reply_to_status_id_str', 'in_reply_to_user_id',
       'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo',
       'coordinates', 'place', 'contributors', 'is_quote_status',
       'retweet_count', 'favorite_count', 'favorited', 'retweeted', 'lang',
       'possibly_sensitive', 'retweeted_status', 'extended_entities',
       'quoted_status_id', 'quoted_status_id_str', 'quoted_status'],
      dtype='object')

In [68]:
bank_comments_df['text'][230]

'@amerix When men forget their work and their roles in society, women are confused  twice as much. This is they time… https://t.co/Cv6aPobSzZ'

In [29]:
bank_tweet_sentiments_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   location   202 non-null    object
 1   bank_name  202 non-null    object
 2   date       202 non-null    datetime64[ns]
 3   user       202 non-null    object
 4   text       202 non-null    object
dtypes: datetime64[ns](1), object(4)
memory usage: 8.0+ KB

In [26]:
bank_tweet_sentiments_df.head()

,location,bank_name,date,user,text
0,"Kenyase, Ghana",KCB Bank,2020-08-08 11:15:02,Dexxe,nikawahi appointiwa board wa kcb musiwahi leta...
1,"Nairobi, Kenya",KCB Bank,2020-08-08 09:55:19,erupe_,KCB worst bank ever!
2,Kenya,KCB Bank,2020-08-08 09:17:54,kenyanmemes,Any bankers in here?\n\nI need your help.\n\nH...
3,Nairobi,KCB Bank,2020-08-08 07:23:03,AlfredLete,"If you have defaulted for over 12 Months, you ..."
4,,KCB Bank,2020-08-08 07:14:02,mwangikhimani,"@Rickygakugi @bonifacemwangi Yes, they were ma..."

In [28]:
bank_tweet_sentiments_df.tail()

,location,bank_name,date,user,text
197,Kenya,KCB Bank,2020-07-30 12:59:37,mdjkitulu,RT @nhifkenya: If you have defaulted for over ...
198,"Nairobi, Kenya",KCB Bank,2020-07-30 12:54:50,HelloKamau,RT @HelloKamau: 2018 - Became a #DSC lead for ...
199,kisumu,KCB Bank,2020-07-30 12:35:38,kissatoe,RT @nhifkenya: If you have defaulted for over ...
200,Ardhi House,KCB Bank,2020-07-30 12:23:33,kbarsito1,@mwangikhimani Yes you can. Integration betwee...
201,"NRB, KE",KCB Bank,2020-07-30 11:36:14,AbigailArunga,RT @nhifkenya: If you have defaulted for over ...

In [22]:
# create dictionary for extracted data
tweets_dict = {'user':[],'date':[],'text':[],'location':[]}

# extract data and add to dictionary
for tweet in ke_banking_tweets:
    tweets_dict['user'].append(tweet.user.screen_name)
    tweets_dict['date'].append(tweet.created_at)
    tweets_dict['text'].append(tweet.text)
    tweets_dict['location'].append(tweet.user.location)
# tweets_dict

In [20]:
tweets_df = pd.DataFrame(tweets_dict)

In [21]:
tweets_df

,user,date,text,location
0,erupe_,2020-08-08 09:55:19,KCB worst bank ever!,"Nairobi, Kenya"
1,kenyanmemes,2020-08-08 09:17:54,Any bankers in here?\n\nI need your help.\n\nH...,Kenya
2,AlfredLete,2020-08-08 07:23:03,"If you have defaulted for over 12 Months, you ...",Nairobi
3,mwangikhimani,2020-08-08 07:14:02,"@Rickygakugi @bonifacemwangi Yes, they were ma...",
4,I___amBrad,2020-08-08 06:04:10,RT @jayp_morgan: GenU focuses on scalable prog...,Kibandaski
5,Mbaka254,2020-08-08 06:02:15,RT @Kwambooxxx: @HonHMAndako It also focuses o...,"Kisumu, Kenya"
6,Kwambooxxx,2020-08-08 06:01:51,@HonHMAndako It also focuses on KCB 2jiajiri e...,Kenya 🇰🇪
7,_crazyluopeann,2020-08-08 06:00:46,RT @jayp_morgan: GenU focuses on scalable prog...,Kisumu 🇰🇪
8,Mbaka254,2020-08-08 05:59:49,RT @jayp_morgan: GenU focuses on scalable prog...,"Kisumu, Kenya"
9,Its_undersqo,2020-08-08 05:52:46,RT @jayp_morgan: GenU focuses on scalable prog...,Nowhere
10,kalekajamaa,2020-08-08 05:39:00,RT @jayp_morgan: GenU focuses on scalable prog...,where the heart is
11,KE_Wanjiku_,2020-08-08 05:37:27,RT @jayp_morgan: GenU focuses on scalable prog...,"Mombasa, Kenya"
12,Chebet_KE,2020-08-08 05:34:28,RT @jayp_morgan: GenU focuses on scalable prog...,"Nairobi, Kenya"
13,thirdborn_i,2020-08-08 05:33:50,RT @jayp_morgan: GenU focuses on scalable prog...,
14,jayp_morgan,2020-08-08 05:33:49,RT @jayp_morgan: GenU focuses on scalable prog...,Ruiru
15,Jr_LincolnKE,2020-08-08 05:29:50,RT @jayp_morgan: GenU focuses on scalable prog...,Kenya
16,ItsJoeKE,2020-08-08 05:27:03,RT @jayp_morgan: GenU focuses on scalable prog...,Kisumu
17,KisiiFinest_,2020-08-08 05:23:58,RT @jayp_morgan: GenU focuses on scalable prog...,Kenya
18,alberto_Januzaj,2020-08-08 05:23:33,RT @jayp_morgan: GenU focuses on scalable prog...,Kenya
19,jayp_morgan,2020-08-08 05:22:29,"GenU focuses on scalable programmes in Kenya, ...",Ruiru

In [107]:
for i in range(20):
    print(ke_banking_tweets[i])

RT @motowntz: Watanzania 56,000 wameajiriwa na kampuni 300 zenye chimbuko lao Kenya ikiwemo Kcb Bank , Equity , Kenya Airways, Serena Hotel…
RT @motowntz: Watanzania 56,000 wameajiriwa na kampuni 300 zenye chimbuko lao Kenya ikiwemo Kcb Bank , Equity , Kenya Airways, Serena Hotel…
RT @motowntz: Watanzania 56,000 wameajiriwa na kampuni 300 zenye chimbuko lao Kenya ikiwemo Kcb Bank , Equity , Kenya Airways, Serena Hotel…
RT @motowntz: Watanzania 56,000 wameajiriwa na kampuni 300 zenye chimbuko lao Kenya ikiwemo Kcb Bank , Equity , Kenya Airways, Serena Hotel…
RT @motowntz: Watanzania 56,000 wameajiriwa na kampuni 300 zenye chimbuko lao Kenya ikiwemo Kcb Bank , Equity , Kenya Airways, Serena Hotel…
RT @motowntz: Watanzania 56,000 wameajiriwa na kampuni 300 zenye chimbuko lao Kenya ikiwemo Kcb Bank , Equity , Kenya Airways, Serena Hotel…
RT @motowntz: Watanzania 56,000 wameajiriwa na kampuni 300 zenye chimbuko lao Kenya ikiwemo Kcb Bank , Equity , Kenya Airways, Serena Hotel…
RT @motowntz: Watanzania 56,000 wameajiriwa na kampuni 300 zenye chimbuko lao Kenya ikiwemo Kcb Bank , Equity , Kenya Airways, Serena Hotel…
@UnitySacco Hello k-unity am one of your customers from suswa branch and I want to transfer money from KCB bank to… https://t.co/fczgLJnE5n
RT @motowntz: Watanzania 56,000 wameajiriwa na kampuni 300 zenye chimbuko lao Kenya ikiwemo Kcb Bank , Equity , Kenya Airways, Serena Hotel…
RT @herine_lando: KCB bank : https://t.co/VEN9TT1tmK
RT @KCBGroup: When you bank with us it’s always a win for ya’ll. Tap and Go with your KCB cards or use your KCB iBank and earn Simba Points…
RT @motowntz: Watanzania 56,000 wameajiriwa na kampuni 300 zenye chimbuko lao Kenya ikiwemo Kcb Bank , Equity , Kenya Airways, Serena Hotel…
@Safaricom_Care hey i sent some cash via kcb paybill no 522522 unfortunately the user is an unregistered kcb bank u… https://t.co/hLDr3dt2ji
KCB bank : https://t.co/tr3R1x2WoV https://t.co/VEN9TT1tmK
RT @motowntz: Watanzania 56,000 wameajiriwa na kampuni 300 zenye chimbuko lao Kenya ikiwemo Kcb Bank , Equity , Kenya Airways, Serena Hotel…
RT @KCBGroup: When you bank with us it’s always a win for ya’ll. Tap and Go with your KCB cards or use your KCB iBank and earn Simba Points…
RT @KCBGroup: When you bank with us it’s always a win for ya’ll. Tap and Go with your KCB cards or use your KCB iBank and earn Simba Points…
RT @motowntz: Watanzania 56,000 wameajiriwa na kampuni 300 zenye chimbuko lao Kenya ikiwemo Kcb Bank , Equity , Kenya Airways, Serena Hotel…
RT @KCBGroup: When you bank with us it’s always a win for ya’ll. Tap and Go with your KCB cards or use your KCB iBank and earn Simba Points…